.Popup {
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transition-delay: 0s, 0s, $transition-duration;
	transition-duration: $transition-duration;
	transition-property: transform, opacity, visibility;
	transition-timing-function: $transition-easing;
	transform: translateY(-45%);
	visibility: hidden;
	width: 100%;
	z-index: 10;

	@media (max-height: $short) {
		background-color: $content-container-bg-color;
		background-image: $content-container-bg-gradient;
		height: 100%;
		top: 0;
		transform: none;
	}
}
.Popup-content {
	border: $border-width solid $border-color;
	display: inline-block;
	margin: 0 auto;
	overflow: auto;
	padding: 2em;
	padding-bottom: 0;
	transform: translateY(10em);
	transition: transform $transition-duration $transition-easing;

	@media (max-height: 30em) {
		max-height: 100%;
	}

	@media (min-height: $short) {
		background-color: $content-container-bg-color;
		background-image: $content-container-bg-gradient;
		max-height: 30em;
	}

	@media (max-width: $narrow) {
		max-width: 100%;
	}

	@media (max-height: $short) {
		border-width: 0;
		height: 100%;
		padding-top: 11em;
	}

	@media (max-height: $narrower) {
		padding-top: 10em;
	}

	@media (max-width: $middle) and (min-width: $narrow) and (max-height: $short) and (min-height: $narrower) {
		padding-top: 13em;
	}

	@media (min-width: $middle) and (max-height: $short) and (min-height: $narrower) {
		padding-top: 14.5em;
	}
}
.Popup-content--shows,
.Popup-content--contact {
	max-width: 30em;
}
.Popup-content--contact {
	@include flexbox-container;
	@include flex-direction(column);

	min-height: 18em;
	max-width: 100%;
	width: 28em;
}
.Popup-textWrapper {
	@include flex;
	@include flexbox-container;
	@include flex-direction(column);

	@media (min-height: $short) {
		@include justify-content(center);
	}
}
.Popup-content--press,
.Popup-content--images {
	text-align: center;
	width: 40em;

	@media (max-height: $short) {
		padding-top: 6em;
	}
}
.Popup-paragraph,
.Popup-close {
	font-size: 1.5em;

	@media (max-width: $narrow) {
		font-size: 1.35em;
	}
}
.Popup-paragraph {
	font-size: 1em;
	font-family: $font-family-alternate;
	margin: 0 auto;
	max-width: 25em;
	text-align: center;

	& + & {
		margin-top: 1em;
	}

	a {
		background-image: linear-gradient(to bottom, $link-border-color, $link-border-color);
		background-repeat: no-repeat;
		background-size: 100% 1px;
		background-position: center 1em;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
.Popup-close {
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 1em;
	transition-property: color, text-shadow;
	transition-duration: $transition-duration / 2;
	transition-timing-function: linear;

	&:hover {
		color: desaturate(darken($bg-color, 45%), 70%);
		text-shadow:
			0 0 1em white,
			0 0 1em $bg-color,
			0 0 1em white,
			0 0 1em $bg-color,
			0 0 1em white,
			0 0 1em $bg-color;
	}

	&:before {
		content: "";
		clear: both;
		display: block;
	}
}
.Popup-images {
	overflow: hidden;
}
.Popup-imageWrapper {
	float: left;
	width: 50%;

	&:nth-child(odd) .Popup-imageLink {
		margin-left: 0;
	}
	&:nth-child(even) .Popup-imageLink {
		margin-right: 0;
	}
}
.Popup-imageLink {
	background-size: cover;
	background-position: center;
	border: $border-width solid $border-color;
	display: block;
	height: 0;
	margin: .5em;
	padding-bottom: 66.666%;

	&:nth-child(even) {
		padding-left: 0;
	}
}

.bit-widget-container {
	font-family: $font-family-alternate !important;
	font-size: 1em !important;
}
.bit-events,
.bit-venue,
.bit-location,
.bit-tickets {
	th {
		padding-bottom: 1em !important;
	}
}
#bit-events tr.no-dates td {
	padding-bottom: 1em !important;
	padding-top: 1em !important;
}
#bit-events table a {
	background-image: linear-gradient(to bottom, $link-border-color, $link-border-color);
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: center 1em;
}
