.SiteNav {
	bottom: 0.5em;
	position: absolute;
	transition-duration: $transition-duration, 0;
	transition-property: opacity, visibility;
	width: 100%;
	z-index: 90;
}
.SiteNav-content {
	@include flexbox-container;
	@include justify-content(space-between);
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: $page-max-width;
	padding: 0 $font-size-big * 2;

	@media (max-width: $narrow) {
		padding: 0 $font-size-big / 2;
	}

	@media (max-width: $narrower) {
		padding: 0;
	}
}
.SiteNav-link {
	border-bottom: 0;
	color: black;
	display: block;
	font-size: $font-size-big;
	line-height: $nav-height / $font-size-big;
	outline: 0;
	padding: .1em 0;
	text-align: center;
	}

	@media (max-width: $wide) {
		font-size: $font-size-big * 0.725;
	}

	@media (max-width: $narrow) {
		line-height: inherit;
		width: 50%;
	}
}
