.SiteNav {
	@include flexbox-container;
	bottom: 0.5em;
	flex-wrap: wrap;
	position: absolute;
	transition-duration: $transition-duration, 0;
	transition-property: opacity, visibility;
	width: 100%;
	z-index: 90;
}
.SiteNav-link {
	border-bottom: 0;
	color: black;
	display: block;
	font-size: $font-size-big;
	line-height: $nav-height / $font-size-big;
	outline: 0;
	padding: .1em 0;
	text-align: center;
	transition-property: color, text-shadow;
	transition-duration: $transition-duration / 2;
	transition-timing-function: linear;

	&:hover {
		color: $body-bg-color;
		text-shadow:
			0 0 0.75em white,
			0 0 0.75em $body-bg-color,
			0 0 0.75em white,
			0 0 0.75em $body-bg-color,
			0 0 0.75em white,
			0 0 0.75em $body-bg-color;
	}

	@media (min-width: $narrower + 1px) {
		@include flex;
	}

	@media (max-width: $narrower) {
		font-size: $font-size-big * 0.725;
		line-height: inherit;
		width: 50%;
	}
}
