.SocialLinks {
	padding-top: 2em;

	@media screen and (max-width: $narrow) {
		padding-top: 1em;
	}

	@media screen and (max-height: $short) {
		padding-top: .5em;
	}
}
.SocialLink {
	$font-size: 2.5em;

	background: url("/img/icons/sprite.png") top left no-repeat;
	background-size: 100% auto;
	border-bottom: 0;
	display: inline-block;
	font-size: .6em;
	overflow: hidden;
	text-indent: 100%;
	transition: {
		duration: .2s;
		property: filter, -moz-filter, -webkit-filter;
		timing-function: linear;
	};
	width: 8.3125em;

	&:hover {
		@include filter(invert(20%));
	}

	@media screen and (max-width: $narrow) {
		font-size: .45em;
	}

	@media screen and (max-height: $narrow) {
		font-size: .45em;
	}

	@media screen and (max-width: $narrower) {
		font-size: .375em;
	}

	.webp & {
		background-image: url("/img/icons/sprite.webp");
	}
}
.SocialLink--youtube {
	$youtube-color: lighten(hsl(358, 79%, 45%), 5%);

	background-position: 50.538% 92.174%;
	height: 5em;
}

.SocialLink--soundcloud {
	$soundcloud-color: lighten(hsl(28, 100%, 50%), 5%);

	background-position: 50% 37.66%;
	height: 4.375em;
}

.SocialLink--spotify {
	$spotify-color: hsl(90, 55%, 37%);

	background-position: 50% 63.913%;
	height: 5em;
}

.SocialLink--facebook {
	$facebook-color: hsl(221, 45%, 37%);

	background-position: 50% 7.273%;
	height: 6.25em;
}
