$height-modifier: 0.65;

.SocialLinks {
	@include flexbox-container;
	padding-top: 2em;

	@media (max-width: $narrow) {
		height: $nav-height / 1.8;
		padding-top: 1em;
	}
}
.SocialLinks-wrapper {
	@include flex;
	text-align: center;
}
.SocialLinks-link {
	$font-size: 2.5em;

	background: url("/img/icons/sprite.png") top left no-repeat;
	background-size: 100% auto;
	border-bottom: 0;
	display: inline-block;
	font-size: .6em;
	overflow: hidden;
	text-indent: 100%;
	transition-duration: .2s;
	transition-property: filter, -moz-filter, -webkit-filter;
	transition-timing-function: linear;
	width: 8.3125em * $height-modifier;

	&:hover {
		@include filter(invert(20%));
	}

	@media (max-width: $narrow) {
		font-size: .45em;
	}

	@media (max-height: $narrow) {
		font-size: .45em;
	}

	@media (max-width: $narrower) {
		font-size: .375em;
	}

	.webp & {
		background-image: url("/img/icons/sprite.webp");
	}
}
.SocialLinks-link--youtube {
	$youtube-color: lighten(hsl(358, 79%, 45%), 5%);

	background-position: 50.538% 92.174%;
	height: 5em * $height-modifier;
}

.SocialLinks-link--soundcloud {
	$soundcloud-color: lighten(hsl(28, 100%, 50%), 5%);

	background-position: 50% 37.66%;
	height: 4.375em * $height-modifier;
}

.SocialLinks-link--spotify {
	$spotify-color: hsl(90, 55%, 37%);

	background-position: 50% 63.913%;
	height: 5em * $height-modifier;
}

.SocialLinks-link--facebook {
	$facebook-color: hsl(221, 45%, 37%);

	background-position: 50% 7.273%;
	height: 6.25em * $height-modifier;
}
