---
---

@import "position";
@import "flexbox";
@import "icomoon";



$wide: 1000px;
$middle: 800px;
$narrow: 600px;
$narrower: 400px;

$header-image-height: 100vh;
$nav-height: 5em;

$color: hsl(335, 86%, 26%);
$social-links-color: white;
// $heading-color: hsl(179, 84%, 90%);
$heading-color: white;
$heading-text-shadow-colors: hsl(335, 86%, 26%), hsl(225, 86%, 56%), hsl(60, 100%, 50%);
$heading-text-shadow-offsets: 0 2px, -1px -1px, -3px 3px;

$bg-color: hsl(350, 90%, 76%);
$gradient-color: hsla(0, 0%, 10%, .5);
$description-bg-color: hsl(284, 84%, 61%);
$music-bg-color: hsl(59, 86%, 56%);



@mixin only-icon {
	overflow: hidden;
	white-space: nowrap;

	&:before {
		display: inline-block;
		margin-right: .75em;
		text-align: center;
		width: 100%;
	}
}

.only-icon {
	@include only-icon;
}

@mixin gradient-bg ($from-color, $to-color: null, $range: null) {
	@if ($to-color == null) {
		$to-color: $from-color;
		$from-color: darken($from-color, 5%);
	}

	@if ($range != null) {
		background-image: linear-gradient(to bottom, $from-color, $to-color $range);
	} @else {
		background-image: linear-gradient(to bottom, $from-color, $to-color);
	}
}



* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	border-bottom: 1px solid fade-out($color, .5);
	text-decoration: none;
}

body, html {
	height: 100%;
}

body {
	background-color: $bg-color;
	color: $color;
	font: 16px/1.5 myriad-pro, arial, sans-serif;
}

h1, h2, h3 {
	font-family: flood-std;
	font-weight: normal;
}

header {
	height: $header-image-height;
	overflow: hidden;
	position: relative;

	@media screen and (max-height: $narrow) {
		height: 350px;
	}

	> nav {
		height: $nav-height;
		overflow: hidden;
		@include position(none none 0 none);
		width: 100%;

		@media screen and (max-width: $narrow) {
			height: $nav-height / 1.8;
		}
	}
}



#background {
	height: $header-image-height;
	position: fixed;
	width: 100%;

	@media screen and (max-height: $narrow) {
		height: 350px;
	}

	> div {
		height: 100%;
		overflow: hidden;
		transform: translateZ(0);
		width: 100%;

		> .background {
			background: {
				repeat: no-repeat;
				position: center center;
				size: cover;
			};
			height: 100%;
		}
	}

	> .wildhart-image > .background {
		background-image: linear-gradient(to top, $gradient-color, transparent 30%), url("/img/wildhart.large.jpg");
		background-position: center bottom;
		@include position(none none $nav-height none, relative);

		@media screen and (max-width: $narrow) {
			bottom: $nav-height / 1.8;
		}
	}

	> .spacer {
		height: 500px;

		@media screen and (max-height: $narrow) {
			height: 470px;
		}
	}

	> .space-image {
		height: 1120px;

		> .background {
			background-image: url("/img/rymden.jpg");
			@include position(-15em none none none, relative);
		}
	}
}

.foreground {
	position: relative;
	z-index: 1;
}

.nav-heading {
	display: none;
	float: left;
	height: 3rem;
}

.social-links {
	@include flexbox-container;

	color: $social-links-color;
	list-style: none;

	> li {
		@include flex(1);
		text-align: center;

		> a {
			$font-size: 2.5em;

			border-bottom: 0;
			display: block;
			font-size: $font-size;
			line-height: $nav-height / $font-size;
			transition: background-color .2s linear;

			@media screen and (max-width: $narrow) {
				$smaller-font-size: 1.75;

				font-size: unquote("#{$smaller-font-size}em");
				line-height: ($nav-height / $smaller-font-size) / $smaller-font-size;
			}

			&.icon-youtube {
				$youtube-color: hsl(358, 79%, 45%);
				background-color: lighten($youtube-color, 5%);

				&:hover, &:focus {
					background-color: $youtube-color;
				}
			}
			&.icon-soundcloud {
				$soundcloud-color: hsl(28, 100%, 50%);
				background-color: lighten($soundcloud-color, 5%);

				&:hover, &:focus {
					background-color: $soundcloud-color;
				}
			}
			&.icon-facebook {
				$facebook-color: hsl(221, 44%, 41%);
				background-color: lighten($facebook-color, 5%);

				&:hover, &:focus {
					background-color: $facebook-color;
				}
			}
		}
	}
}

.description, .soundcloud, .images {
	$box-shadow-color: hsla(21, 80%, 60%, 0.3);

	// box-shadow: -11em 0 0 $box-shadow-color inset, -8em 0 0 darken($box-shadow-color, 8%) inset, 11em 0 0 darken($box-shadow-color, 14%) inset, 13em 0 0 darken($box-shadow-color, 7%) inset;
	padding-top: 2em !important;

	> p {
		margin: 0 auto 1em auto;
		max-width: 20rem;
		width: 90%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	> h2 {
		$text-shadow: unquote("#{nth($heading-text-shadow-offsets, 1)} 0 #{nth($heading-text-shadow-colors, 1)}");

		@for $i from 2 to (length($heading-text-shadow-colors) + 1) {
			$text-shadow: append($text-shadow, unquote("#{nth($heading-text-shadow-offsets, $i)} 0 #{nth($heading-text-shadow-colors, $i)}"), comma);
		}

		color: $heading-color;
		font-size: 8em;
		line-height: 1;
		margin: 0 auto .5rem auto;
		text-align: center;
		text-shadow: $text-shadow;

		@media screen and (max-width: $narrow) {
			font-size: 3.6em;
		}
	}
}

.description {
	@include gradient-bg($description-bg-color, $bg-color, 90%);
	padding: 3em 0;

	@media screen and (max-height: $narrow) {
		padding-top: 4em;
	}
}

.soundcloud {
	$gutter: 3em;

	box-shadow: 0 0 0 10px fade-out($color, .5) inset;
	padding: 0 $gutter / 2;

	@media screen and (max-width: $narrow) {
		box-shadow: 0 0 0 5px fade-out($color, .5) inset;
		padding: $gutter / 6;
	}

	> .iframes {
		flex-wrap: wrap;
		@include justify-content(center);
		width: 100%;

		@media screen and (min-width: $narrow) {
			@include flexbox-container;
		}

		> iframe {
			display: block;
			@include flex(1);
			min-width: 400px;
			padding: $gutter / 2;

			@media screen and (max-width: $narrow) {
				height: 300px;
				padding: $gutter / 6;
				min-width: 0;
				width: 100%;
			}
		}
	}
}

.images {
	@include gradient-bg($bg-color, darken($bg-color, 10%));
	min-height: 25em;
}
