---
---



/* ==========================================================================
   @imports
   ========================================================================== */
@import "position";
@import "flexbox";
// @import "icomoon";



/* ==========================================================================
   Variables
   ========================================================================== */
$wide: 1000px;
$middle: 800px;
$narrow: 600px;
$narrower: 475px;

$short: 700px;

$nav-height: 4em;
$border-width: 2px;

$background-image-jpg: "/img/wildhart.large-2.jpg";
$background-image-webp: "/img/wildhart.large-2.webp";

$color: white;
$border-color: fade-out(white, .7);
$social-links-bg-color: fade-out(white, .5);
$heading-text-shadow-colors: hsl(335, 86%, 26%), hsl(225, 86%, 56%), hsl(60, 100%, 50%);
$heading-text-shadow-offsets: 0 2px, -1px -1px, -3px 3px;

$bg-color: hsl(338, 78%, 57%);
$gradient-color: hsla(0, 0%, 10%, .5);
$description-bg-color: hsl(284, 84%, 61%);
$images-bg-color: hsl(59, 86%, 56%);

$container-bg-color-1: hsl(221, 77%, 69%);
$container-bg-color-2: $bg-color;

$transition-duration: .45s;
$transition-easing: cubic-bezier(.1, 1, .75, 1);



/* ==========================================================================
   Mixins
   ========================================================================== */
@mixin only-icon {
	overflow: hidden;
	white-space: nowrap;

	&:before {
		display: inline-block;
		margin-right: .75em;
		text-align: center;
		width: 100%;
	}
}

.only-icon {
	@include only-icon;
}

@mixin gradient-bg ($from-color, $to-color: null, $range: null) {
	@if ($to-color == null) {
		$to-color: $from-color;
		$from-color: darken($from-color, 5%);
	}

	@if ($range != null) {
		background-image: linear-gradient(to bottom, $from-color, $to-color $range);
	} @else {
		background-image: linear-gradient(to bottom, $from-color, $to-color);
	}
}

@mixin targeted-container {
	opacity: 1;
	transition-delay: 0s;
	visibility: visible;

	> div {
		transform: translateY(0);
	}
}

@mixin filter ($function) {
	-moz-filter: $function;
	-webkit-filter: $function;
	filter: $function;
}

@mixin fade {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0;
	}
	55% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade {
	@include fade;
}

@keyframes fade2 {
	@include fade;
}



/* ==========================================================================
   ID selectors
   ========================================================================== */
#about:target ~ .container {
	.about-container {
		@include targeted-container;
	}
}

#images:target ~ .container {
	.images-container {
		@include targeted-container;
	}
}

#about:target ~ .container, #images:target ~ .container {
	@media screen and (max-height: $short) {
		.social-links {
			background-color: fade-out(white, 1);
		}

		.site-nav {
			opacity: 0;
			visibility: hidden;
			transition-delay: 0s, $transition-duration;
		}
	}


	.wildhart-titles {
		> div, > h1 {
			opacity: 0;

			&.n1 {
				animation: fade $transition-duration linear 0s 1;
				bottom: 55%;
				color: white;
				opacity: 1;
				z-index: 100;

				@media screen and (max-height: $short) {
					bottom: 100%;
					margin-bottom: -16rem;
				}

				@media screen and (max-height: $short - 100px) {
					margin-bottom: -14rem;
				}

				@media screen and (max-height: $narrower) {
					margin-bottom: -12rem;
				}

				@media screen and (max-height: $narrower - 75px) {
					margin-bottom: -10.5rem;
				}

				@media screen and (max-height: $narrower) and (min-width: $narrower - 50px) {
					margin-bottom: -10.75rem;
					width: 10rem;
				}
			}
		}
	}
}



/* ==========================================================================
   Class selectors
   ========================================================================== */
.container {
	background: {
		image: url($background-image-jpg);
		image:
			linear-gradient(to top, $gradient-color, transparent 30%),
			linear-gradient(to bottom, fade-out(hsl(0, 0%, 90%), .75), fade-out(hsl(0, 0%, 90%), 1) 20%),
			url($background-image-jpg);
		position: center center;
		repeat: no-repeat;
		size: auto 100%;
		size: cover;
	};
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.webp & {
		// No browser supports webp but not CSS gradients
		background-image:
			linear-gradient(to top, $gradient-color, transparent 30%),
			linear-gradient(to bottom, fade-out(hsl(0, 0%, 90%), .75), fade-out(hsl(0, 0%, 90%), 1) 20%),
			url($background-image-webp);
	}

	> header {
		@include position(0 none none none);
		width: 100%;
		z-index: 90;

		> nav {
			width: 100%;

			@media screen and (max-width: $narrow) {
				height: $nav-height / 1.8;
			}
		}
	}
}



.social-links, .site-nav > ul {
	@include flexbox-container;
	list-style: none;

	> li {
		@include flex(1);
		text-align: center;
	}
}

.social-links {
	padding-top: 2em;

	@media screen and (max-width: $narrow) {
		padding-top: 1em;
	}

	@media screen and (max-height: $short) {
		padding-top: .5em;
	}

	> li {
		> a {
			$font-size: 2.5em;

			background: url("/img/icons/sprite.png") top left no-repeat;
			background-size: 100% auto;
			border-bottom: 0;
			display: inline-block;
			font-size: .6em;
			overflow: hidden;
			text-indent: 100%;
			transition: {
				duration: .2s;
				property: filter, -moz-filter, -webkit-filter;
				timing-function: linear;
			};
			width: 8.3125em;

			&:hover {
				@include filter(invert(20%));
			}

			@media screen and (max-width: $narrow) {
				font-size: .45em;
			}

			@media screen and (max-height: $narrow) {
				font-size: .45em;
			}

			@media screen and (max-width: $narrower) {
				font-size: .375em;
			}

			.webp & {
				background-image: url("/img/icons/sprite.webp");
			}

			&.youtube {
				$youtube-color: lighten(hsl(358, 79%, 45%), 5%);

				background-position: 50.538% 92.174%;
				height: 5em;
			}

			&.soundcloud {
				$soundcloud-color: lighten(hsl(28, 100%, 50%), 5%);

				background-position: 50% 37.66%;
				height: 4.375em;
			}

			&.spotify {
				$spotify-color: hsl(90, 55%, 37%);

				background-position: 50% 63.913%;
				height: 5em;
			}

			&.facebook {
				$facebook-color: hsl(221, 45%, 37%);

				background-position: 50% 7.273%;
				height: 6.25em;
			}
		}
	}
}

.site-nav {
	@include position(none none 0 none);
	transition: {
		duration: $transition-duration, 0;
		property: opacity, visibility;
	};
	width: 100%;
	z-index: 90;

	ul {
		> li {
			> a {
				$font-size: 4em;
				$text-shadow: unquote("#{nth($heading-text-shadow-offsets, 1)} 0 #{nth($heading-text-shadow-colors, 1)}");

				@for $i from 2 to (length($heading-text-shadow-colors) + 1) {
					$text-shadow: append($text-shadow, unquote("#{nth($heading-text-shadow-offsets, $i)} 0 #{nth($heading-text-shadow-colors, $i)}"), comma);
				}

				border-bottom: 0;
				color: $color;
				display: block;
				font: normal $font-size flood-std;
				line-height: $nav-height / $font-size;
				padding: .1em 0;
				text-align: center;
				text-shadow: $text-shadow;

				&.about {
					border-width: $border-width 0 $border-width/2 $border-width;

					@media screen and (max-width: $narrower) {
						border-left-width: 0;
					}
				}

				&.images {
					border-width: $border-width $border-width $border-width/2 $border-width;

					@media screen and (max-width: $narrower) {
						border-right-width: 0;
					}
				}

				@media screen and (max-width: $narrower) {
					font-size: $font-size / 2;
					line-height: $nav-height / ($font-size / 1.5);
				}
			}
		}
	}
}

.wildhart-titles {
	height: 100%;
	text-align: center;
	@include position(none none 10% none);
	width: 100%;

	@media screen and (max-width: $middle) {
		font-size: .85em;
	}

	@media screen and (max-width: $narrow) {
		font-size: .7em;
	}

	@media screen and (max-width: $narrower) {
		font-size: .35em;
	}

	> div, > h1 {
		$height: 17%;
		$width: 63%;

		color: black;
		font: normal 100%/1 flood-std;
		text-align: center;
		position: absolute;
		width: $width;

		$animation-delay: 0s;
		$bottom: 4%;
		$font-size: 9em;

		@for $i from 1 to 6 {
			&.n#{$i} {
				animation: fade2 $transition-duration linear $animation-delay 1;
				bottom: $bottom;
				font-size: $font-size / $i;
				height: $height / $i;
				width: 100%;

				$animation-delay: $animation-delay + .075s;
				$bottom: $bottom + ($height / $i);
				$font-size: $font-size - ($i / 2.5);
			}
		}

		@for $i from 5 to 0 {
			&.n#{$i} {
				z-index: $i;
			}
		}

		&.n1 {
			transition: {
				property: bottom, width, margin, z-index, color;
				delay: $transition-duration / 2;
				duration: 0s;
				timing-function: linear;
			};
		}
	}
}

.about-container {
	top: 40%;

	> div {
		max-width: 20rem;

		> p {
			max-width: 20em;
			margin: 0 auto;
		}
	}
}

.images-container {
	min-height: 25em;
	top: 40%;

	> div {
		padding: {
			bottom: 1em;
			left: 0;
			right: 0;
		};
		text-align: center;

		> .images {
			display: block;
			max-width: 100%;
			overflow: hidden;
			width: 32em;

			.image-link {
				background-size: cover;
				background-position: center;
				border: $border-width solid $border-color;
				display: inline-block;
				margin: .25em;
				padding-bottom: 30%;
				width: 44.5%;

				&:nth-child(even) {
					padding-left: 0;
				}
			}
		}


		> .close {
			display: inline-block;

			&:before {
				content: "";
				clear: both;
				display: block;
			}
		}
	}
}

.about-container, .images-container {
	$bg-color: fade-out(hsl(206, 33%, 57%), .5);
	$bg-gradient: radial-gradient(ellipse at 30% 40% , fade-out($container-bg-color-1, .2), fade-out($container-bg-color-2, .3));

	opacity: 0;
	position: absolute;
	visibility: visible;
	text-align: center;
	transition: {
		property: transform, opacity, visibility;
		delay: 0s, 0s, $transition-duration;
		duration: $transition-duration;
		timing-function: $transition-easing;
	}
	visibility: hidden;
	width: 100%;
	z-index: 10;

	@media screen and (max-height: $short) {
		height: 100%;
		top: 0;

		> div {
			height: 100%;
		}
	}

	@media screen and (max-height: $short) {
		background-color: $bg-color;
		background-image: $bg-gradient;
	}

	> div {
		border: $border-width solid $border-color;
		display: inline-block;
		margin: 0 auto;
		padding: 1em;
		transform: translateY(10em);
		transition: transform $transition-duration $transition-easing;

		@media screen and (min-height: $short) {
			background-color: $bg-color;
			background-image: $bg-gradient;
		}

		@media screen and (max-width: $narrow) {
			max-width: 100%;
		}

		@media screen and (max-height: $short) {
			border-width: 0;
			padding-top: 11em;
		}

		@media screen and (max-height: $narrower) {
			font-size: .85em;
			padding-top: 10em;
		}

		> p {
			margin: 0 auto 1em auto;
			text-align: left;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}



/* ==========================================================================
   Tag selectors
   ========================================================================== */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	border-bottom: 1px solid fade-out($color, .5);
	text-decoration: none;
}

body, html {
	height: 400px;
	min-height: 100%;
}

body {
	background-color: $bg-color;
	color: $color;
	font: 16px/1.5 myriad-pro, arial, sans-serif;
}

h1, h2, h3 {
	font-family: flood-std;
	font-weight: normal;
}
