<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link type="text/plain" rel="author" href="/humans.txt" />
	<link rel="stylesheet" href="/css/wildhart.css">
	<script src="/js/prefixfree.min.js"></script>
	<script src="//use.typekit.net/hkv4zkr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
