<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">

	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.live_url }}">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="{{ site.live_url }}/img/wildhart.social-2.jpg">

	<link type="text/plain" rel="author" href="/humans.txt" />
	<link href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet">
	<link href="/css/wildhart.css" rel="stylesheet">

	<script src="/js/helpers.min.js"></script>
</head>

<body>
	<div id="about"></div>
	<div id="contact"></div>
	<div id="images"></div>
	<div id="shows"></div>
	<div id="press"></div>

	<section class="SiteContainer">
		<header class="SocialLinks">
			<nav class="SocialLinks-container">

				<div class="SocialLinks-linkWrapper">
					<a class="SocialLinks-link SocialLinks-link--youtube" href="https://www.youtube.com/results?search_query=wildhart" target="_blank">YouTube</a>
				</div>

				<div class="SocialLinks-linkWrapper">
					<a class="SocialLinks-link SocialLinks-link--soundcloud" href="https://soundcloud.com/wildhart" target="_blank">Soundcloud</a>
				</div>

				<div class="SocialLinks-linkWrapper">
					<a class="SocialLinks-link SocialLinks-link--spotify" href="https://open.spotify.com/artist/5FTUVQzJDLW4MBP1vvKRc1" target="_blank">Spotify</a>
				</div>

				<div class="SocialLinks-linkWrapper">
					<a class="SocialLinks-link SocialLinks-link--facebook" href="https://facebook.com/wildhartmusic" target="_blank">Facebook</a>
				</div>

			</nav>
		</header>

		<nav class="SiteNav" role="navigation">
			<div class="SiteNav-content">
				<a class="SiteNav-link SiteNav-link--press" href="#press">Press</a>
				<a class="SiteNav-link SiteNav-link--shows" href="#shows">Shows</a>
				<a class="SiteNav-link SiteNav-link--contact" href="#contact">Contact</a>
				<a class="SiteNav-link SiteNav-link--images" href="#images">Images</a>
			</div>
		</nav>

		<div class="Popup Popup--press">
			<div class="Popup-content Popup-content--press">

				{% for section in site.data.press %}
					<div class="Popup-section">
						<h2 class="Popup-heading">
							{{ section.title }}
						</h2>

						{% if section.text %}
							<div class="Popup-markdown">
								{{ section.text | markdownify }}
							</div>
						{% endif %}

						{% for excerpt in section.excerpts %}
							<p>
								{% if excerpt.quote %}
									{{ excerpt.quote }}<br>
									&ndash;
								{% else %}
									&bull;&thinsp;
								{% endif %}
								<a href="{{ excerpt.source_url }}">{{ excerpt.source_title }}</a>
							</p>
						{% endfor %}
					</div>
				{% endfor %}

				<a class="Popup-close" href="#">Close</a>
			</div>
		</div>

		<div class="Popup Popup--shows">
			<div class="Popup-content Popup-content--shows">
				<div class="Popup-textWrapper">
					<a href="http://www.bandsintown.com/wildhart" class="bit-widget-initializer" data-artist="wildhart" data-prefix="fbjs">wildhart Tour Dates</a>
				</div>

				<a class="Popup-close" href="#">Close</a>
			</div>
		</div>

		<div class="Popup Popup--contact">
			<div class="Popup-content Popup-content--contact">
				<div class="Popup-textWrapper Popup-textWrapper--center">
					{% for paragraph in site.data.contact %}
						<p>{{ paragraph }}</p>
					{% endfor %}
				</div>

				<div>
					<a class="Popup-close" href="#">Close</a>
				</div>
			</div>
		</div>

		<div class="Popup Popup--images">
			<div class="Popup-content Popup-content--images">
				<div class="Popup-images">
					{% for image in site.data.images %}
						<div class="Popup-imageWrapper">
							<a class="Popup-imageLink" href="{{ image.url }}" style="background-image: url('{{ image.thumburl }}')"></a>
						</div>
					{% endfor %}
				</div>

				<a class="Popup-close" href="#">Close</a>
			</div>
		</div>

		<a class="OrderLink" href="https://gaphals.bandcamp.com/album/wildhart-shine">
			<div class="OrderLink-image"></div>
			<div class="OrderLink-background"></div>
		</a>

	</section>



	<script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>

	<script>
		if (location.host === "wildhart.se") {
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src="//www.google-analytics.com/analytics.js";
			r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
			ga("create","{{ site.google_analytics_id }}","auto");
			ga("send","pageview");
		}
	</script>
</body>
</html>
