<!DOCTYPE html>
<html lang="en">
	{% include header.html %}

	<body>
		<div id="about"></div>
		<div id="images"></div>

		<section class="container">
			<header>
				<nav>
					<ul class="social-links">
						<li><a class="youtube" href="https://www.youtube.com/user/wildhartmusic" target="_blank">YouTube</a></li>
						<li><a class="soundcloud" href="https://soundcloud.com/wildhart" target="_blank">Soundcloud</a></li>
						<!-- <li><a class="spotify" href="#" target="_blank">Spotify</a></li> -->
						<li><a class="facebook" href="https://facebook.com/wildhartmusic" target="_blank">Facebook</a></li>
					</ul>
				</nav>
			</header>

			<nav class="site-nav">
				<ul>
					<li><a class="about" href="#about">About</a></li>
					<li><a class="images" href="#images">images</a></li>
				</ul>
			</nav>

			<div class="about-container">
				<div>
					{% for paragraph in site.data.description %}
						<p>{{ paragraph }}</p>
					{% endfor %}
					<a class="close" href="#">Close</a>
				</div>
			</div>

			<div class="images-container">
				<div>
					<div class="images">
						{% for image in site.data.images %}
							<a class="image-link" href="{{ image.url }}" style="background-image: url('{{ image.thumburl }}')"></a>
						{% endfor %}
					</div>
					<a class="close" href="#">Close</a>
				</div>
			</div>

			<div class="wildhart-titles">
				<h1 class="n1">Wildhart</h1>
			</div>
		</section>

		{% include footer.html %}
	</body>
</html>